# Server
server/node_modules/
server/.env
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# Client
client/node_modules/
client/dist/
client/.env
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log